<footer class="bg-dark" >
      <ul class="list-inline text-center py-2">
        <li class="list-inline-item">
          <a href="" class="text-white"></a>
        </li>
        <li class="list-inline-item">
          <a href="" class="text-white"></a>
        </li>
        <li class="list-inline-item">
          <a href="" class="text-white"></a>
        </li>
      </ul>
      <div class="text-white text-center pb-4">
        <p class="h2">picapp</p>
        <small class="small">&copy;created by Kent Hayashinaka</small>
      </div>
    </footer>